@import "themes/jquery.ui.smoothness";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.autocomplete";
@import "suggestions_autocomplete";

form {
  width: 750px;

/* Labels */
	label, legend {
		font-weight: bold;
	}

	label:after {
		content: ":";
	}

  .cycle_priorities label, .objectives-fields legend {
    text-transform: uppercase;
  }

/* Organization */
	#objectives-fields_text, #cycle_priorities {
		display: block;
	}

	.cycle_from {
    clear: left;
    float: left;
	}

  .cycle_to {
    float: right;
  }

  .objectives-fields {
    clear: both;
  }

  .objectives-fields {
    padding-top: 10px;
  }

	.objectives-fields_text, .cycle_priorities {
		padding-top: 10px;
	}

	.form-actions {
		padding: 10px 0;
	}

	.cycle_number label, .cycle_number label:after {
		vertical-align: top;
	}

	.cycle_number input {
		width: 50px;
		height: 1em;
	}

  .alert {
    padding-top: 30px;
    clear: both;
  }

/* Errors */
  .field_with_errors label,
  .field_with_errors legend {
    border-bottom: solid red 2px;
  }

  .field_with_errors {
    background: none;
  }

/* Customization */
  .cycle_priorities {
    box-sizing: border-box;
    width: 100%;
  }

	.objectives-fields li {
		float: left;
		clear: both;
		width: 100%;
	}

  .objectives-fields input {
    width: 85%;
  }

  .objectives-fields .multivalored-input-delete-button {
    float: right;
  }

  .cycle_priorities textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
