form {
  width: 860px;

/* Labels */
	label {
		font-weight: bold;
	}

	label:after {
		content: ":";
	}

  .cycle_priorities label, .cycle_objectives label {
    text-transform: uppercase;
  }

/* Organization */
	#cycle_objectives_text, #cycle_priorities {
		display: block;
	}

	.cycle_from {
    clear: left;
    float: left;
	}

  .cycle_to {
    float: right;
  }

  .cycle_objectives {
    clear: both;
  }

	.cycle_objectives_text, .cycle_priorities {
		padding-top: 10px;
	}

	.form-actions {
		padding: 10px 0;
	}

	.cycle_number label, .cycle_number label:after {
		vertical-align: top;
	}

	.cycle_number input {
		width: 50px;
		height: 1em;
	}

  .alert {
    padding-top: 30px;
    clear: both;
  }

/* Errors */
  .field_with_errors label {
    border-bottom: solid red 2px;
  }

  .field_with_errors {
    background: none;
  }

/* Customization */
  .cycle_objectives, .cycle_priorities {
    width: 100%;
  }

  .cycle_objectives input {
    width: 90%;
  }

  .cycle_objectives .multivalored-input-delete-button {
    float: right;
  }

  .cycle_priorities textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
