
@import "../formpdf";

.objectives-line {
	height: $page_height * 0.5;

	.field {
		width: $page_width - 3px;
	}
}

.emphasis-line {
	height: $page_height * 0.3;

	.field {
		width: $page_width - 3px;
	}

	.field-content {
		margin: 15px;
		white-space: pre-wrap;
		display: block;
	}
}
