<%= confirmation_form([@incident, form202], confirm_only: [:create], confirm_url: incident_cycle_confirmation_path(@incident)) do |f| %> 
  <%= f.error_notification %>

  <%= render partial: "form_inputs", locals: {f: f, form202: form202} %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
