<%= render partial: "layouts/cycle_brief", locals: {cycle: form202.cycle, incident: incident} %>

<p>
  <strong>Objectives:</strong>
	<pre><%= form202.objectives_text %></pre>
</p>

<p>
  <strong>Priorities:</strong>
	<pre><%= form202.cycle.priorities %></pre>
</p>

<p>
  <strong>Objectives Approval Status:</strong>
	<span><%= cycle_approval_status_name form202.cycle.approved? %></span>
</p>
