<%= render partial: "layouts/cycle_brief.html.erb", locals: {cycle: form202.cycle, incident: incident} %>

<p>
  <strong>Objectives:</strong>
  <ol class="objectives">
  <% form202.objectives_texts.each do |text| %>
    <li class="objective-input">
      <span class="objective-text"><%= text %></span>
    </li>
  <% end %>
  </ol>
</p>

<p>
  <strong>Operational Period Command Emphasis:</strong>
	<pre><%= form202.cycle.priorities %></pre>
</p>

<p>
  <strong>Objectives Approval Status:</strong>
	<span><%= cycle_approval_status_name form202.cycle.approved? %></span>
</p>
