<div class="objectives-fields">
  <%= f.input :objectives, error: false do %>
  <ol class="objectives-inputs" id="objective_inputs">
    <% if form202.objectives.empty? %>
      <li class="objective-input">
        <%= text_field_tag "objectives_texts[]" %>
      </li>
    <% else %>
      <% form202.objectives.each do |obj| %>
				<li class="objective-input <%= @can_create_and_delete ? "deletable" : "undeletable" %>">
        <%= text_field_tag "objectives_texts[#{obj.id}]", obj.text %>
      </li>
      <% end %>
    <% end %>
  </ol>
  <% end %>

  <button class="add-objective-btn">Add Objective</button>
</div>
