<div class="objectives-fields">
  <%= f.input :objectives, error: false, required: false do %>
  <ol class="objectives-inputs" id="objective_inputs">
    <% if form202.persisted? %>
      <%= render partial: "cycles/objectives_inputs_for_update", locals: {form202: form202} %>
    <% else %>
      <%= render partial: "cycles/objectives_inputs_for_create", locals: {form202: form202} %>
    <% end %>
  </ol>
  <% end %>

  <button class="add-objective-btn">Add Objective</button>
</div>
