<h1>Incident Objectives</h1>

<%= render partial: "cycle", locals: {form202: @form202, incident: @incident} %>

<% if current_user.can_approve_all_objectives_at_once? && !@cycle.approved? %>
	<%= form_tag incident_cycle_objectives_approvals_path(@incident, @cycle) do %>
		<button id="btn-approve-objectives">Approve all objectives</button>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_incident_cycle_path(@incident, @form202.cycle.id) %>
<%= link_to 'Back', back_path %>
