@import "../formpdf";

.form:not(:last-child) {
	page-break-after: always;
}

.matrix-headers {
	height: $page_height * $thin-line-percent;

	.matrix-header {
		width: $page_width * 0.3333 - 1px;
    text-align: center;
    font-size: 1.2em;

    .sub-title {
      text-transform: uppercase;
    }
	}
}

.matrix-cells {
	height: $page_height * 0.08;

	.matrix-cell {
		width: $page_width * 0.3333 - 1px;

    .tactic-exp {
      margin-left: 5px;
      display: block;
    }
	}
}
