<%= simple_form_for(@reuse_configuration, url: reuse_configuration_path, method: :put) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :reuse_hierarchy, label: "Reuse Hierarchy?", as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Configuration" %>
  </div>
<% end %>
