<td colspan="<%= expressions_size %>" data-father_id="<%= father_id %>" class="tactic add pre-button">
  <%- if disabled %>
    <button disabled>Add Tactic</button>
  <% else %>
    <button>Add Tactic</button>
  <% end -%>
</td>
