<td colspan="<%= expressions_size %>" data-father_id="<%= father_id %>" class="strategy add pre-button">
  <%- if disabled %>
    <button disabled>Add Strategy</button>
  <% else %>
    <button>Add Strategy</button>
  <% end -%>
</td>
