<td colspan="5" class="tactic form who"><button>ADD TACTIC</button></td>
<!--
<td class="tactic form what"></td>
<td class="tactic form where"></td>
<td class="tactic form when"></td>
<td class="tactic form response-action"></td>
-->
