<td class="<%= group_classes %> <%= exp_classes %> show objective">
  <div class="second-border">
    <%= render partial: "analysis_matrices/expression_text", locals: {text: text} %>
    <%= metadata_partial %>
  </div>
</td>
