<td class="<%= group_classes %> <%= exp_classes %> show objective">
	<div class="cell-wrapper">
		<% if can_approve_expression %>
			<div class="approvable-triangle"></div>
		<% end -%>
		<div class="second-border">
			<%= render partial: "analysis_matrices/expression_text.html.erb", locals: {text: text, number: number} %>
			<%= metadata_partial %>
		</div>
	</div>
</td>
