<td class="<%= repeated %> objective">
	<%= render partial: "expression_text", locals: {text: text} %>
	<%= render partial: "metadata", locals: {text: text, metadata: metadata, can_approve: can_approve} %>
</td>
