<span class="tactic-exp tactic-who"><%= exp_info who_text %></span>
<span class="tactic-exp tactic-what"><%= exp_info what_text %></span>
<span class="tactic-exp tactic-where"><%= exp_info where_text %></span>
<span class="tactic-exp tactic-when"><%= exp_info when_text %></span>
