<button class="btn-show-dialog btn" data-dialog-id="cycle-priorities">Show Command Emphasis</button>
<div>
	<p class="dialog-title">Command Emphasis</p>
	<div id="cycle-priorities">
		<pre><%= cycle.priorities %></pre>

		<p>
			<strong>Approval Status:</strong>
			<span><%= cycle_approval_status_name @cycle.priorities_approved? %></span>
		</p>

		<% if current_user.can_approve_priorities? && !cycle.priorities_approved? %>
			<%= form_tag incident_cycle_priorities_approvals_path(@incident, @cycle) do %>
				<button id="btn-approve-priorities">Approve Command Emphasis</button>
			<% end %>
		<% end %>
	</div>
</div>

