<td class="<%= repeated ? "repeated " : "" %>strategy how"><%= strategy && strategy.how && strategy.how.text %></td>
<td class="<%= repeated ? "repeated " : "" %>strategy why"><%= strategy && strategy.why && strategy.why.text %></td>
