<%= simple_form_for [@incident, @cycle, @form234], url: incident_cycle_analysis_matrix_path do |f| %>
  <table class="analysis-matrix">
    <thead>
      <tr>
        <th class="header objective">Objectives</th>
        <th class="header strategy" colspan="2">Strategies</th>
        <th class="header tactic" colspan="5">Tatics</th>
      </tr>
      <tr>
        <th class="header objective">Objective</th>
        <th class="header strategy">How</th>
        <th class="header strategy">Why</th>
        <th class="header tactic">Who</th>
        <th class="header tactic">What</th>
        <th class="header tactic">Where</th>
        <th class="header tactic">When</th>
        <th class="header tactic">Response Action</th>
      </tr>
    </thead>

    <tbody>
      <% each_row @matrix_data do |row| %>
        <tr>
          <%= row.objective_cells %>

          <%= row.strategy_cells %>

          <%= row.tactic_cells %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
