@import "themes/jquery.ui.smoothness";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.dialog";

$objective_color: #c0c0c0;
$strategy_color: #c0c0c0;
$tactic_color: #c0c0c0;

$form_dark_percent: 5%;
$header_dark_percent: 15%;
$add_light_percent: 15%;
$repeated_light_percent: 15%;

$repeated_font_color: black;
$repeated_font_light_percent: 60%;

.analysis-matrix {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.analysis-matrix {
  
/* COLUMNS SIZE */
  td {
    height: 50px;
  }

  td.objective {
    width: 30%; /* 30*1 = 30% */
  }

  td.strategy {
    width: 30%; /* 30*1 = 30% */
  }

  td.tactic {
    width: 8%; /* 8*5 = 40% */
  }

/* OBJECTIVES COLORS */
  .objective {
    background-color: $objective_color;
  }

  .objective.header {
    background-color: darken($objective_color, $header_dark_percent);
  }

  .objective.repeated {
    background-color: lighten($objective_color, $repeated_light_percent);
  }

/* STRATEGIES COLORS */
  .strategy {
    background-color: $strategy_color;
  }

  .strategy.form {
    background-color: darken($strategy_color, $form_dark_percent);
  }
  
  .strategy.add {
    background-color: lighten($strategy_color, $add_light_percent);
  }

  .strategy.header {
    background-color: darken($strategy_color, $header_dark_percent);
  }

  .strategy.repeated {
    background-color: lighten($strategy_color, $repeated_light_percent);
  }

/* TACTICS COLORS */
  .tactic {
    background-color: $tactic_color;
  }

  .tactic.form {
    background-color: darken($tactic_color, $form_dark_percent);
  }
  
  .tactic.add {
    background-color: lighten($tactic_color, $add_light_percent);
  }

  .tactic.header {
    background-color: darken($tactic_color, $header_dark_percent);
  }

/* REPEATED FONT COLOR */
  .repeated {
    color: lighten($repeated_font_color, $repeated_font_light_percent);
  }

/* METADATA */
  .metadata {
    display: none;
  }

/* FORMS  */
  .form.submit, td.submit-side {
    height: 20px;
  }

/* BORDERS */
  th {
    border: solid 1px black;
  }
}
    
