@import "themes/jquery.ui.smoothness";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.dialog";

$to_be_approved_color: #ccf;
$partial_approval_color: #bfb;
$approved_color: #8f8;
$partial_rejection_color: #fd6;
$rejected_color: #fd6;
$expression_color: #c0c0c0;

$form_dark_percent: 5%;
$header_dark_percent: 15%;
$add_light_percent: 15%;
$repeated_light_percent: 6%;

$repeated_font_color: black;
$repeated_font_light_percent: 60%;

.analysis-matrix {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.analysis-matrix {
  
/* COLUMNS SIZE */
  td {
    height: 50px;
  }

	/* width = 22 + 22 + 32 + 24 = 100% */
  td.objective {
    width: 22%; /* 22*1 = 22% */
  }

  td.strategy {
    width: 22%; /* 22*1 = 22% */
  }

  td.tactic.who, .tactic.where, .tactic.when, .tactic.response_action {
    width: 8%; /* 8*4 = 32% */
  }

	td.tactic.what {
		width: 24%; /* 24*1 = 24% */
	}

/* BACKGROUND COLORS */
  .header {
    background-color: darken($expression_color, $header_dark_percent);
  }

  .form {
    background-color: darken($expression_color, $form_dark_percent);
  }
  
  .add {
    background-color: lighten($expression_color, $add_light_percent);
  }

  @mixin background-colors($color, $selector: "") {
    .non-repeated#{$selector} {
      background-color: $color;
    }

    .repeated#{$selector}, .blank#{$selector} {
      background-color: lighten($color, $repeated_light_percent);
    }
  }

  @include background-colors($expression_color);
  @include background-colors($to_be_approved_color, ".to-be-approved");
  @include background-colors($partial_approval_color, ".partial-approval");
  @include background-colors($approved_color, ".approved");
  @include background-colors($partial_rejection_color, ".partial-rejection");
  @include background-colors($rejected_color, ".rejected");

/* REPEATED FONT COLOR */
  .repeated {
    color: lighten($repeated_font_color, $repeated_font_light_percent);
  }

/* FORMS  */
  .form.submit, td.submit-side {
    height: 20px;
  }

/* HEADER BORDERS */
  th {
    border: solid 1px black;
  }

/* VERTICAL GROUPING BORDERS */
  .tactic.who.non-repeated {
    border-left: solid black 3px;
  }

  .strategy.non-repeated, .strategy.repeated {
    border-left: solid black 3px;
  }

/* HORIZONTAL GROUPING BORDER */
  .tactic.non-repeated {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }

  .tactic.response_action.non-repeated {
    border-right: solid black 1px;
  }

  .strategy.non-repeated {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
  }

  .objective.non-repeated {
    border: solid black 1px;
  }

/* DYNAMIC FORM */
  /* TO TACTIC FORM */
  .tactic.submit {
    border-left: solid black 3px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
  }

  .tactic.form.who {
    border-left: solid black 3px;
  }

  .tactic.form.response_action {
    border-right: solid black 1px;
  }

  .strategy.submit-side {
    border-left: solid black 3px;
  }

  /* TO STRATEGY FORM */
  .strategy.inputs {
    border-top: solid black 1px;
  }

  .strategy.submit {
    border-bottom: solid black 1px;
  }

  .strategy.submit, .strategy.form {
    border-left: solid black 3px;
    border-right: solid black 3px;
  }
}
    


/* METADATA */
.metadata {
  display: none;

  /* APPROVALS */
  .approvals-label {
    font-weight: bold;
    margin: 0;
  }

  .approvals {
    list-style: none;
    margin: 0;
    padding: 0;

    .approval {
      text-indent: 5px;
      margin-top: 5px;

      .approval-role-status {
        margin: 0;
        padding: 0;
      }

      .approval-user {
        text-indent: 20px;
        margin: 0;
        padding: 0;
      }
    }
  }

  .approve-form {
    float: left;
  }

}
