@import "themes/jquery.ui.smoothness";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.dialog";
@import "jquery.ui.autocomplete";
@import "suggestions_autocomplete";

$error_border_size: 2px;

/* MENU */
.buttons-line {
	& .btn {
		margin-bottom: 10px;
		margin-top: 10px;
		margin-right: 10px;
		float: left;
	}

	& .btn-download-pdf {
		margin-left: 40px;
	}
}

.analysis-matrix {
	clear: both;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.analysis-matrix {
  
/* COLUMNS SIZE */
  td.add {
    height: 50px;
  }

	/* width = 22 + 22 + 32 + 24 = 100% */
  td.objective {
    width: 22%; /* 22*1 = 22% */
  }

  td.strategy {
    width: 22%; /* 22*1 = 22% */
  }

  td.tactic.who, .tactic.where, .tactic.when, .tactic.response_action {
    width: 8%; /* 8*4 = 32% */
  }

	td.tactic.what {
		width: 24%; /* 24*1 = 24% */
	}

/* REPEATED */
  .repeated .expression-text {
    display: none;
  }

/* NUMBER */
  .expression-number:after {
    content: ".";
  }

/* REUSE */
  .reused {
    font-style: italic;
  }

/* FORMS  */
  .form.submit, td.submit-side {
    height: 20px;
  }

/* HEADER BORDERS */
  th {
    border: solid 1px black;
  }

/* CRITICALITY */
	.criticality {
		&.non-repeated {
			border: 1px black solid;
		}

		&.high {background-color: red;}
		&.medium {background-color: yellow;}
		&.low {background-color: white;}

		& select {
      font-weight: bold;
      font-size: 15px;
			width: 35px;
			@media screen and (max-width: 1024px) {
				width: 45px;
			}
      font-family: monospace;
    }
	}

	.saved-popup {
		background-color: #6f6;
		border: black 2px solid;
		font-weight: bold;
		position: absolute;
		right: 10px;
		padding: 5px;
		border-radius: 5px;
	}

/* VERTICAL GROUPING BORDERS */
  .tactic.who.non-repeated {
    border-left: solid black 3px;
  }

  .strategy.non-repeated, .strategy.repeated.non-last-child {
    border-left: solid black 3px;
  }

/* HORIZONTAL GROUPING BORDER */
  .tactic.non-repeated {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }

  .tactic.response_action.non-repeated {
    border-right: solid black 1px;
  }

  .strategy.non-repeated {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
  }

  .objective.non-repeated {
    border: solid black 1px;
  }

/* EXPRESSIONS SHADOW */
  .tactic.non-repeated {
		box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.3) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset;
  }

  .non-repeated.tactic.response_action,
	.non-repeated.strategy,
	.non-repeated.objective {
		box-shadow: -3px -3px 0 rgba(0, 0, 0, 0.3) inset, -1px -1px 0 rgba(0, 0, 0, 0.3) inset;
  }

/* SPACE BELOW HEADER */
	.space-below-header {
		height: 10px;
	}

/* DYNAMIC FORM */
  /* TO TACTIC FORM */
  .tactic.submit {
    border-left: solid black 3px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
  }

  .tactic.form.who {
    border-left: solid black 3px;
  }

  .tactic.form.response_action {
    border-right: solid black 1px;
  }

  .strategy.submit-side {
    border-left: solid black 3px;
  }

  /* TO STRATEGY FORM */
  .strategy.inputs {
    border-top: solid black 1px;
  }

  .strategy.submit {
    border-bottom: solid black 1px;
  }

  .strategy.submit, .strategy.form {
    border-left: solid black 3px;
    border-right: solid black 3px;
  }
}

/* PRIORITIES */
#cycle-priorities {
  pre {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
}


/* METADATA */
.metadata {
  display: none;

  .metadata-label {
    font-weight: bold;
    margin: 0;
  }

  .metadata-section {
    padding: 10px 0 0 0;
  }

  /* ERRORS */
  .alerts-section {
    color: red;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  /* ITEM INFO */
  .item-section p {
    margin: 0;
  }

  /* APPROVALS */
  .approvals {
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    .approval {
      text-indent: 5px;
      margin-top: 5px;

      .approval-role-status {
        margin: 0;
        padding: 0;
      }

      .approval-user {
        text-indent: 20px;
        margin: 0;
        padding: 0;
      }
    }
  }

  .approve-form {
    float: left;
  }
}

/* INNER BORDERS */
$margin_vertical: -2px;
$margin_horizontal: -4px;

.tactic .second-border {
  width: 95%;
  height: 95%;
	box-sizing: border-box;
  padding: $margin_vertical $margin_horizontal;
	margin: auto auto;
}

.strategy .second-border, .objective .second-border {
  width: 95%;
  height: 95%;
	box-sizing: border-box;
  padding: $margin_vertical ($margin_horizontal+5px);
	margin: auto auto;
}

/* ERRORS */
td.with-errors.non-repeated .second-border, td.with-group-errors.non-repeated .second-border {
  border: solid red $error_border_size;
}
