/* REUSE */
.reused-input {
  background-color: black;
  color: white;
}

/* SUGGESTIONS AUTOCOMPLETE */
$autocomplete_width: 200px;
.multiple-instances > a:after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 3px;
  border: solid 1px black;
  background-color: black;
  float: right;
  margin: 0.4em 10px;
}

.ui-menu-item {
  width: $autocomplete_width;
}

.multiple-instances > a {
  display: inline-block;
  width: $autocomplete_width - (3px + 20px); // width - (point width + point margin)
}

/* TO AUTOCOMPLETE */
ul.ui-autocomplete {
  list-style: none;
}
