/* REUSE */
.reused-input {
  background-color: black;
  color: white;
}

/* SUGGESTIONS AUTOCOMPLETE */
$autocomplete_width: 300px;
.multiple-instances > a:after {
  content: "";
  width: 5px;
  height: 5px;
  border: solid 1px black;
  float: right;
  margin: 0.4em 10px;
}

.ui-menu-item {
  width: $autocomplete_width;
}

.multiple-instances > a {
  display: inline-block;
  width: $autocomplete_width - (5px + 20px); // width - (point width + point margin)
}
