@import "themes/jquery.ui.smoothness";

@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.autocomplete";

ul {
  list-style: none;
}

.form-inputs legend {
  font-weight: bold;
}

label:after {
  content: ":";
}

.email-text {
  font-weight: bold;
}

.required abbr[title="required"] {
  display: none;
}

.hint {
  font-style: italic;
  padding-left: 3px;

  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}
