$page_width: 800px;
$page_height: 1160px;
$thin-line-percent: 0.05;

.form {
	font-size: 11pt;
  position: relative;

  // Draft Specific Styling
  &:not(.draft) {
    .watermark {
      display: none;
    }
  }

  &.draft {
    .watermark {
      position: absolute;
      width: $page_width;
      font-size: 22em;
      font-weight: bold;
      -webkit-transform: rotate(0.625rad);
      line-height: $page_height * 0.5;
      color: rgba(0, 0, 0, 0.2);
    }

    .watermark.top {
      top: $page_height * 0.1;
    }

    .watermark.bottom {
      top: $page_height * 0.45;
    }

	  .approved-by-field {
      color: rgba(0,0,0,0);
    }

    .version-content:after {
      content: "(Draft)";
      margin-left: 5px;
    }
  }

  &.for-review {
    .version-content:after {
      content: "(For Review)";
      margin-left: 5px;
    }

	  .approved-by-field .user-data {
      color: rgba(0,0,0,0);
    }
  }

  &.final {
    .version-content:after {
      content: "(Final)";
      margin-left: 5px;
    }
  }
}

.line {
	width: $page_width;
	border-top: 1px solid black;

	&:last-child {
		border-bottom: 1px solid black;
	}

	.field {
		float: left;
		border-collapse: collapse;
		border-left: 1px solid black;
		height: 100%;
		padding: 0;
		margin: 0;
		position: relative;

		&:last-child {
			border-right: 1px solid black;
		}

		.title {
			display: block;
			font-weight: bold;
			padding: 5px;
		}

		.field-content {
			padding-left: 5px;
		}

		.datetime-label {
			padding-top: 5px;
			display: block;
			float: right;
			font-weight: bold;
			width: 25%;
		}

		.datetime-value {
			display: block;
      clear: both;
			float: right;
			width: 25%;
		}
	}

	.field-footer {
		width: 100%;
		position: absolute;
		bottom: 5px;
		left: 5px;
	}
}

.first-line {
	height: $page_height * $thin-line-percent;

	.field.form-fullname {
		width: $page_width * 0.8 - 2px;
    font-size: 1.5em;
		font-weight: bold;
		line-height: $page_height * $thin-line-percent;
		text-transform: uppercase;
		text-align: center;

    .main-title {
			margin-right: 4px;
    }
  }

	.field.form-title {
		width: $page_width * 0.2 - 2px;
    font-size: 1.5em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		line-height: $page_height * $thin-line-percent;

		.sub-title {
			margin-right: 4px;
		}
	}
}


.second-line {
	height: $page_height * $thin-line-percent;

	.field.incident-name {
		width: $page_width * 0.5 - 2px;
	}

	.field.operational-period {
		width: $page_width * 0.5 - 2px;

		.from-field, .to-field {
			width: 50%;
			margin: 0;
			padding: 0;
			float: left;
		}
		.cycle-field, .version-field {
			float: right;
			padding: 3px;
		}
	}
}

.last-line {
	height: $page_height * 0.075;

	.prepared-by-field {
		width: $page_width * 0.6 - 2px;
	}

	.approved-by-field {
		width: $page_width * 0.4 - 1px;
	}

	.approved-by-field, .prepared-by-field {
    .user-role, .user-id {
      margin-left: 5px;
      font-style: italic;
    }
  }
}
