	<div class="last-line line">
		<div class="field prepared-by-field">
			<span class="datetime-label">Date/Time</span>
			<span class="title">5. Prepared by:</span>
      <% if @final %>
        <%= render partial: "layouts/user_data.pdf.erb", locals: {
          datetime: @cycle.last_version.created_at,
          user: @cycle.last_version.user
        } %>
      <% else %>
        <%= render partial: "layouts/user_data.pdf.erb", locals: {
          datetime: DateTime.now,
          user: current_user
        } %>
      <% end %>
			<span class="signature">Assinatura:</span>
		</div>

		<div class="field approved-by-field">
			<span class="datetime-label">Date/Time</span>
			<span class="title">6. Approved by:</span>
        <%= render partial: "layouts/user_data.pdf.erb", locals: {
          datetime: DateTime.now,
          user: current_user
        } %>
			<span class="signature">Assinatura:</span>
		</div>
	</div>
</div>
