<span class="user-data datetime-value"><%= format_date(datetime) %></span>
<span class="user-data user-id"><%= user.human_id %></span>
<span class="user-data user-role">(<%= user.main_role.name %>)</span>
